.body {
    display: flex;
    width: 99%;
    height: 99%
    color: black;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn {
    padding: 1;
    border: none;
    background: none;
}
